
.dialogs{
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogs__tableItem{
    padding: 10px;
}

.dialogs__tableItem a{
    color: white;
    text-decoration: none;
}
.dialogs__tableItem .active{
    color: gold;
}

.messages{
    padding: 10px;
}

.messege{

}